@import "_variables.scss";

.mail-page {
  position: relative;

  .new-message {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-rows: 30px 35px 35px 1fr 50px;

    height: 500px;
    width: 600px;

    background-color: white;

    border-radius: 8px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);

    .new-message__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 14px;

      background-color: $primary-color;
      height: 30px;
      color: white;
      border-radius: 8px 8px 0 0;
      padding: 0 20px;

      .new-message__header-icons {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
    }
    .new-message-input {
      border-bottom: 1px solid $secondary-color;
      height: 35px;

      margin: 0 20px;

      input {
        padding: 0 5px;
        border: none;
        height: 100%;
        width: 100%;
      }
    }
    .new-message__button-group {
      padding: 0 20px;
      display: flex;
      gap: 20px;
    }
    .new-message-textarea {
      border-bottom: 1px solid $secondary-color;

      margin: 0 20px 20px 20px;
      textarea {
        height: 100%;
        width: 100%;
        resize: none;
        border: none;
        padding: 10px 5px;
      }
    }
  }
  .mail-page__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 30px;
    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .sidebar__new-folder {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        height: 30px;
        input {
          height: 100%;
          max-width: 130px;
          border: 1px solid $primary-color;
          padding: 0 5px;
        }
        svg {
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
      .sidebar__item {
        display: flex;
        gap: 10px;
        align-items: center;
        .sidebar__item-interface {
          margin-left: auto;
          display: flex;
          align-items: center;
          gap: 5px;
        }
        svg {
          color: $secondary-color;
        }
        cursor: pointer;
        &.active {
          color: $primary-color;
          svg {
            color: $primary-color;
          }
        }
      }
    }
    .mail-block {
      box-shadow: 0 2px 16px rgb(57 57 61 / 11%);
      width: 100%;
      border-radius: 15px;
      padding: 20px 0;

      .mail-block-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 20px 10px 20px;

        .mail-block-header-interface,
        .header-interface {
          display: flex;
          gap: 40px;

          .header-interface__menu {
            display: flex;
            gap: 15px;

            svg {
              cursor: pointer;
              color: $secondary-color;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
        .mail-block-header__search {
          border: none;
          background-color: rgb(247, 247, 247);
          padding: 5px 10px;
        }
      }
      .mail-block-body {
        border-top: 1px solid $secondary-color;
        overflow: auto;

        height: 100%;

        .current-message {
          padding: 20px 20px 0 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .current-message__subject {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 20px;
            font-weight: 600;
            .current-message__subject-interface {
              display: flex;
              gap: 10px;
              svg {
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
          .current-message__info {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
          .current-message__body {
            border-bottom: 1px solid $secondary-color;
            padding: 20px 0;
            min-height: 300px;
          }
          .current-message__buttons {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
          }
        }

        .messages-list {
          .message-item {
            padding: 0 20px;
            display: grid;
            grid-template-columns: 20px 200px 1fr auto;
            gap: 10px;
            align-items: center;
            height: 40px;
            border-bottom: 1px solid rgb(241, 241, 241);
            cursor: pointer;
            &:last-child {
              border: none;
            }
            &.message-item_closed {
              font-weight: 600;
            }
            .message-item__address,
            .message-item__message {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .message-item__interface {
              display: none;
            }
            &:hover {
              background-color: rgb(241, 241, 241);
              .message-item__date {
                display: none;
              }
              .message-item__interface {
                display: flex;
                gap: 20px;
                svg {
                  color: $secondary-color;
                  &:hover {
                    color: $primary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
