header {
  height: 70px;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  .header__content {
    display: flex;
    align-items: center;
    .header-burger {
      display: none;
      svg{
        color: $primary-color;
      }
    }
    .header-menu,
    .menu {
      .menu__list {
        display: flex;
        gap: 15px;
        .menu__item {
          text-transform: uppercase;
          letter-spacing: 0.6px;
          font-weight: 600;
          cursor: pointer;
          a {
            color: black;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {
  header {
    .header__content {
      position: relative;
      .header-burger {
        display: block;
        position: absolute;
        right: 20px;
      }
    }
  }
}